*,*::before, *::after 
{
	box-sizing: border-box;
	font-family: tahoma, sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin:0;
	background: linear-gradient(to right,#37378b, #68b8bb);
}
.calc-grid {
	display: grid;
	justify-content: center;
	min-height: 100vh;
	align-content: center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: #1b1a2f;
	color:white;
	}

	.calc-grid > button:hover {
		background-color:rgb(255, 255, 255, .9); 
		color:black;
	}

	.take-two-rows {
		grid-column: span 2;
	}

	.result {
			grid-column: 1/-1;
			background-color: white;
			display: flex;
			align-items: flex-end;
			justify-content: space-around;
			flex-direction: column;
			padding: 10px;
			word-wrap:break-word;
			word-break: break-all;
	}

	.result .prev-result {
		color:grey;
		font-size:1.5rem;
	}

	.result .main-result {
		color:#474949;
		font-size:2.5rem;
	}

	@media only screen and (max-width: 425px) {
		.calc-grid {
		
		grid-template-columns: repeat(4, 59px);
    grid-template-rows: minmax(120px, auto) repeat(5, 70px);
		}
	}
	